<!DOCTYPE html>
<html>
<head>
    <title>Josh | Invoice</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>

<table>
    <tr>
        <td colspan="4">
            <strong>Jetway Oil & Fuel Services Home PvtLtd(Karnataka)</strong><br>
            Jaitammal, Plot No. 263/3, Sambhadev Nagar, Piranwadi, Belagavi, Karnataka<br>
            GSTIN/UIN: 29AAFCJ2498F1Z8<br>
            State Name: Karnataka, Code: 29
            </td>
            <td><strong>Invoice No.</strong><br> BEL/001</td>
            <td><strong>Dated</strong><br> 18-Oct-23</td>
        </td>
        <td>Invoice No.<br>BEL/001</td>
        <td>Dated<br>18-Oct-23</td>
    </tr>
    <tr>
        <td colspan="2">Consignee (Ship to)</td>
        <td colspan="2">Vega Auto Accessories Pvt Ltd</td>
        <td>Buyer's Order No.<br></td>
        <td>Dated</td>
    </tr>
    <tr>
        <td colspan="2">Plot No. 12-B, Sy. No. 342 BEMCIEL Industrial, Estate, Udyambag, Belagavi, Karnataka-590008</td>
        <td colspan="2">GSTIN/UIN: 29AAACV6543N1ZO<br>State Name: Karnataka, Code: 29</td>
        <td>Dispatch Doc No.</td>
        <td>Delivery Note Date</td>
    </tr>
    <tr>
        <td colspan="2">Buyer (Bill to)</td>
        <td colspan="2">Vega Auto Accessories Pvt Ltd</td>
        <td>Dispatched through</td>
        <td>Destination</td>
    </tr>
    <tr>
        <td colspan="2">Plot No. 12-B, Sy. No. 342 BEMCIEL Industrial, Estate, Udyambag, Belagavi, Karnataka-590008</td>
        <td colspan="2">GSTIN/UIN: 29AAACV6543N1ZO<br>State Name: Karnataka, Code: 29</td>
        <td colspan="2">Terms of Delivery</td>
    </tr>
    <tr>
        <td>Description of Goods</td>
        <td>HSN/SAC</td>
        <td>Quantity<br>1,985.05 Ltr</td>
        <td>Rate per<br>87.76 Ltr</td>
        <td>Amount<br>1,74,207.99</td>
        <td>Discount<br>(-)1,310.13</td>
    </tr>
    <tr>
        <td colspan="5">Total</td>
        <td>1,72,897.86</td>
    </tr>
    <tr>
        <td colspan="6">
            Amount Chargeable (in words)<br>
            INR One Lakh Seventy Two Thousand Eight Hundred Ninety Seven and Eighty Six paise Only
        </td>
    </tr>
    <tr>
        <td colspan="3">
            Declaration<br>
            1.We declare that this Invoice shows the Actual Price of the Goods described and that all Particulars are True and Correct.<br>
            2. Bills Strictly to be paid Against the Delivery. Prosecution under MSME Act 2006 will apply on Unpaid Bills.<br>
            3. Interest will be charged as per MSME ACT 2006 terms & conditions.<br>
            4. No Claim or Complaint Shall be Entertained by us after the Goods are Delivered.
        </td>
        <td colspan="3">
            Company's Bank Details<br>
            Jetway Oil & Fuel Services Home PvtLtd(Karnataka)<br>
            Bank Name: Indian Overseas Bank<br>
            A/C No. 19710200000481<br>
            Branch & IFS Code: Serula & ICIC0001247<br>
            for Jetway Oil & Fuel Service<br>
            <i>Authorised Signatory</i>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            Customer's Seal and Signature
        </td>
        
    </tr>
</table>
<br>
<center>THANKS FOR DOING BUSINESS WITH US</center>

</body>
</html>
