<!DOCTYPE html>
<html>
<head>
    <title>Josh | Invoice</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
        .container {
            width: 60%;
            margin: auto;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            border-radius: 8px;
        }
    </style>
</head>
<body>


    <div class="container">

        <h2><center>Invoice</center></h2>
        <table>
            <tr>
                <td rowspan="2" colspan="2">
                    <strong>Jetway Oil & Fuel Services Home PvtLtd(Karnataka)</strong><br>
                    Jaitammal, Plot No. 263/3, Sambhadev Nagar, <br> Piranwadi, Belagavi, Karnataka<br>
                    GSTIN/UIN: 29AAFCJ2498F1Z8<br>
                    State Name: Karnataka, Code: 29
                </td>
                <td colspan="2">Invoice No. <strong><br> BEL/001</strong></td>
                <td colspan="2">Dated<strong><br> 18-Oct-23</strong></td>
            </tr>
            <tr>
                <td colspan="2">Delivery Note<strong><br>-----</strong></td>
                <td colspan="2">Mode of Payment<strong><br>-----</strong></td>
            </tr>
            <tr>
                <td rowspan="2" colspan="2">
                    Consignee (ship to) <br>
                    <strong>Jetway Oil & Fuel Services Home PvtLtd(Karnataka)</strong><br>
                    Jaitammal, Plot No. 263/3, Sambhadev Nagar, <br> Piranwadi, Belagavi, Karnataka<br>
                    GSTIN/UIN: 29AAFCJ2498F1Z8<br>
                    State Name: Karnataka, Code: 29
                </td>
                <td colspan="2">Refrence Number<strong><br>-----</strong></td>
                <td colspan="2">Other Refrence<strong><br>-----</strong></td>
            </tr>
            <tr>
                <td colspan="2">Buyer's Order No.<strong><br>-----</strong></td>
                <td colspan="2">Dated<strong><br>-----</strong></td>
            </tr>
            <tr>
                <td rowspan="2" colspan="2">
                    Buyer's (bill to) <br>
                    <strong>Jetway Oil & Fuel Services Home PvtLtd(Karnataka)</strong><br>
                    Jaitammal, Plot No. 263/3, Sambhadev Nagar, <br> Piranwadi, Belagavi, Karnataka<br>
                    GSTIN/UIN: 29AAFCJ2498F1Z8<br>
                    State Name: Karnataka, Code: 29
                </td>
                <td colspan="2">Dispatched Through <strong><br> KA-04-HR-1231 </strong></td>
                <td colspan="2">Dispatched By <strong><br> 18-Oct-23 </strong></td>
            </tr>
            <tr>
                <td colspan="4">Terms of Delivery <strong><br>--- </strong></td>
            </tr>
            <tr>
                <th>Description of Goods</th>
                <th>HSN/SAC</th>
                <th>Quantity</th>
                <th>Rate </th> 
                <th>per</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>DIESEL</td>
                <td></td>
                <td><strong> 1,985.05 Ltr </strong></td>
                <td>87.76 </th> 
                <th> Ltr</td>
                <td>1,74,207.99</td>
            </tr>
            <tr>
                <td>Less: <span style="text-align: right;">Discount</span></td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>(-)1,310.13</td>
            </tr>
            <tr>
                <td  style="text-align: right;">Total</td>
                <td></td>
                <td><strong> 1,985.05 Ltr </strong></td>
                <td></td>
                <td></td>
                <td>₹ 1,72,897.86</td>
            </tr>
            <tr>
                <td colspan="6">
                    Amount Chargeable (in words)<br>
                    <strong> INR One Lakh Seventy Two Thousand Eight Hundred Ninety Seven and Eighty Six paise Only </strong>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <u>Declaration </u><br>
                    1.We declare that this Invoice shows the Actual Price of the Goods described and that all Particulars are True and Correct.<br>
                    2. Bills Strictly to be paid Against the Delivery. Prosecution under MSME Act 2006 will apply on Unpaid Bills.<br>
                    3. Interest will be charged as per MSME ACT 2006 terms & conditions.<br>
                    4. No Claim or Complaint Shall be Entertained by us after the Goods are Delivered.
                </td>
                <td colspan="4">
                    Company's Bank Details<br>
                    Account Holder Name : <strong> Jetway Oil & Fuel Services Home PvtLtd(Karnataka) </strong><br>
                    Bank Name: <strong> Indian Overseas Bank </strong><br>
                    A/C No. <strong> 19710200000481 </strong><br>
                    Branch & IFS Code: <strong> Serula & ICIC0001247 </strong><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="./josh stamp.png" width="150" height="auto" alt="">
                    Customer's Seal and Signature
                </td>
                <td colspan="4">
                    <img src="./josh stamp.png" width="150" height="auto" alt="">
                    Jetway Oil & Fuel Service<br>
                </td>
                
            </tr>
        </table>
        <br>
        <center>THANKS FOR DOING BUSINESS WITH US</center>

    </div>

</body>
</html>
